* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  padding: 3rem 10%;
}

form {
  display: flex;
  align-items: center;
  width: max-content;
  margin: auto;
  gap: 1rem;
  position: relative;
  z-index: 1;
}

input {
  border: 0;
  padding: 0.5rem 0;
  border-bottom: 3px solid grey;
  outline: none;
  font-size: 1rem;
  transition: all 0.15s;
}

input:hover,
input:focus-visible {
  border-color: black;
}

.clear {
  display: none;
  position: absolute;
  right: 15%;
}

.clear:hover > i,
.clear:focus-visible > i {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  cursor: pointer;
}

.clear,
.search {
  background-color: white;
  border: none;
  font-size: 1.5rem;
  transition: all 0.2s;
}

.search:hover,
.search:focus-visible {
  scale: 1.25;
  cursor: pointer;
}

.main-section,
.error-section,
.loading-section {
  box-sizing: border-box;
  height: calc(100vh - 10rem);
  display: none;
  align-items: center;
  justify-content: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  border: 1px solid;
  border-radius: 1rem;
  height: max-content;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  padding: 1rem 0;
}

.city,
.local-time {
  font-size: 1.75rem;
  font-weight: normal;
}

.country,
.time-explanation {
  font-size: 0.85rem;
  color: rgb(0 0 0 / 80%);
}

.time {
  position: absolute;
  left: calc(50% - 50px);
  width: 100px;
  text-align: center;
}

.local-date {
  font-size: 0.9rem;
  font-weight: bold;
}

.temperature-selection {
  display: flex;
  user-select: none;
}

.temperature-selection > * {
  border-bottom: 3px solid white;
  padding: 6px;
  transition: all 0.2s;
}

.temp-mode:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.temp-mode.temp-mode-active {
  border-bottom: 3px solid black;
}

.day-info {
  display: flex;
  justify-content: space-between;
  margin: 0 -3rem;
}

.day-info > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 20%;
}

.day-info i {
  font-size: 2.5rem;
}

.condition-box > .dynamic-box-text {
  font-size: 1.1rem;
}

.dynamic-box-text {
  font-size: 1.25rem;
  line-height: 1.3;
}

.day-info-box-explanation {
  font-size: 0.85rem;
  color: rgb(0 0 0 / 80%);
}

.hours-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hours-info-mode {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}

.hours-info-mode > * {
  border-bottom: 3px white;
}

.hours-info-mode > *:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.hours-info-mode > .hour-info-mode-active {
  border-bottom: 3px solid black;
}

.hours-info-chart {
  width: 100%;
  /* height: 200px; */
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hour {
  flex: 1;
  height: 100%;
}

.error-section {
  box-sizing: border-box;
  height: calc(100vh - 10rem);
  display: none;
  align-items: center;
  justify-content: center;
}

.error {
  display: flex;
  gap: 1rem;
}

.error i,
.loading-section i {
  font-size: 3rem;
}

.error-text {
  display: flex;
  flex-direction: column;
}

.loading-section i {
  animation: rotation 1s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes rotation {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
